$orange: #ffa340;
$dark: #181818;
$grey: #dfe0df;

$white: white;
$black: #000000;
$oxford-blue: #070b34;
$roydal-dark-blue: #141852;
$st-patrics-blue: #2b2f77;
$cyber-purple: #483475;
$cyber-grape: #6b4984;
$french-lilac: #855988;

:export {
  orange: $orange;
  dark: $dark;
  black: $black;
  white: $white;
  grey: $grey;
}
